name: Release charts

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'Chart.yaml'
      - 'values.yaml'
      - 'templates/**'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Package chart
        run: |
          helm package . -d .deploy

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: "true"
        with:
          charts_dir: '.'
          skip_packaging: true
          pages_branch: gh-pages

      - name: Update chart index
        run: |
          git checkout gh-pages || git checkout --orphan gh-pages
          helm repo index . --url https://karafr.github.io/object-bucket
          git add index.yaml *.tgz
          git commit -m "Update Helm repository index" || true
          git push origin gh-pages
